body {
	background-color: #eee;
	margin: 0;
}

.header {
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #999;
}

.header .logo img {
	width: 100px;
	vertical-align: middle;
}

.header {
	text-align: center;
	background-color: #fff;
}

.header .header-ele {
	display: inline;
	line-height: 40px;
}

.header .logo {
	float: left;
}

.header .setting {
	float: right;
}

@media (min-width : 768px) {
	.header-container{
		width: 100%;
	}
}

@media (min-width : 992px) {
	.header-container{
		width: 800px;
	}
}

@media (min-width : 1200px) {
	.header-container{
		width: 800px;
	}
}

.header-container {
	margin: auto;
}

.post {
	background-color: #fff;
	margin-bottom: 10px;
	border-radius: 5px;
}

.post-header {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	content: " ";
	display: block;
	clear: both;
	height: 60px;
}

.post-header > div {
	display: inline;
}

.post-header img {
	border-radius: 50%;
	width: 60px;
	height: 100%;
	float: left;
}

.post-header .author-id {
	line-height: 60px;
	display: inline;
	float: left;
	margin-left: 10px;
	font-weight: bold;
}

.post-header .post-reg-time {
	float: right;
	line-height: 60px;
	color: #999;
}

.post .post-body img {
	width: 100%;
}

@media (min-width : 768px) {
	.container{
		width: 100%;
	}
	.header-container,.footer-container {
		width: 100%;
	}
}

@media (min-width : 992px) {
	.container{
		width: 600px;
	}
	.header-container,.footer-container {
		width: 800px;
	}
}

@media (min-width : 1200px) {
	.container{
		width: 600px;
	}
	.header-container,.footer-container {
		width: 800px;
	}
}

.container {
	margin: auto;
}

.post-footer {
	padding: 5px;
	padding-left: 25px;
	padding-right: 25px;
}

.post-footer .num-of-comment {
	color: #999;
}

.each-comment .userId, .each-comment .comment {
	display: inline;
}

.each-comment .userId {
	font-weight: bold;
}

.each-comment .comment {
	margin-left: 10px;
}

.comment-form {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	height: 30px;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

.comment-form > div {
	display: inline;
}

.comment-form .heart-mark img {
	width: 25px;
}

.comment-form .heart-mark {
	float: left;
}

.comment-form .comment-input input {
	width: 400px;
}

.comment-form .comment-etc {
	float: right;
}

.footer {
	width: 100%;
	background-color: #BBB;
	height: 100%;
	border-top: 1px solid #999;
}

.footer-container {
	margin: auto;
}

.login-form {
	background-color: #fff;
	padding: 30px;
	text-align: center;
	border-radius: 10px;
	margin-top: 50px;
}

.login-form input[type="text"],.login-form input[type="password"]{
	width: 200px;
}

.input-group {
	margin: 10px;
}

.input-label {
	width: 80px;
	display: inline-block;
}

.submit-btn {
	width: 100px;
}

.reg-link {
	margin-top: 10px;
}

.reg-link a{
	color: #999;
	text-decoration: none;
}

.reg-link a:HOVER {
	color: #000;
}

.posting-form {
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px;
	background-color: #fff;
	padding: 10px;
}

.posting-form .label {
	float: left;
	display: inline-block;
	width: 70px;
	text-align: right;
}

.posting-form input,.posting-form textarea {
	width: 300px;
	margin-left: 10px;
	float: left;
}

.input-outer {
	margin-top: 10px;
}

.input-outer:after {
	content: " ";
	display: block;
	clear: both;
}